/*Styling the Game*/
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(#13547a, #80d0c7);
}
#container {
  margin: 0 auto;
  width: 80%;
}

#game {
  text-align: center;
}

#title {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(11, 194, 11);
  text-shadow: 2px 2px black;
}

/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  border-radius: 50%;
  background-color: white;
}

#board {
  border: 2px solid black;
  background: linear-gradient(#59c2ff, #6cafa7);
  margin: 50px auto;
  border-radius: 5px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/*Changing into the players colors*/

.piece.p1 {
  animation: slideDown 1s;
  background-color: blue;
}

.piece.p2 {
  animation: slideDown 1s;
  background-color: red;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  border-radius: 0%;
  background-color: white;
}

#column-top td:hover {
  background-color: gold;
  cursor: pointer;
}

/*Restart button*/
#restart {
  padding: 12px 16px;
  background-color: green;
  color: white;
  margin: 20px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
}

#restart:hover {
  opacity: 0.7;
}
@keyframes slideDown {
  from {
    margin-top: -200px;
    opacity: 0.5;
  }
  to {
  }
}
